﻿@*This is the correct version*@
@using MSO.Models;
@*@model PagedList.IPagedList<MSO.Models.Mso>*@
@using PagedList.Mvc;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Matomo -->
    <script type="text/javascript">
        /*var _paq = window._paq || [];*/
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                                    //_paq.push(['trackPageView']);
                                    //_paq.push(['enableLinkTracking']);
                                    //(function () {
                                    //    var u = "//webanalytics.century.com/";
                                    //    _paq.push(['setTrackerUrl', u + 'matomo.php']);
                                    //    _paq.push(['setSiteId', '2']);
                                    //    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                                    //    g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
                                    //})();
    </script>
    <!-- End Matomo Code -->
</head>
<body>

    <link rel="icon" href="@Url.Content("~/favicon.ico ")" />

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="~/">
            <img src="~/images/Cent.png" alt="#">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mso</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="~/mso/Create">Create</a>
                        <a class="dropdown-item" href="~/mso/Index">List</a>
                        <a class="dropdown-item" href="~/mso/Search">Search</a>
                        <a class="dropdown-item" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href='~/mso/adhoc'>Custom</a>
                            <a class="dropdown-item" href='~/waste'>Waste</a>
                        </div>
                    </div>
                </li>
                @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Template</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <a class="dropdown-item" disable href="~/template/create">Create</a>
                            <a class="dropdown-item" href="~/template/list">List</a>
                        </div>
                    </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vendor</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" href="~/vendor/Create">Create</a>
                        <a class="dropdown-item" href="~/vendor/Index">List</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text">
                Hello, @User.Identity.Name!
            </span>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Century Aluminum - MSO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>