﻿@model MSO.Models.Mso
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<script type="text/javascript">
    function UpdatePlant(val) {
        var xmlhttp = new XMLHttpRequest();

        if (xmlhttp && val != "0") {
            xmlhttp.open("POST", "/MSO/UpdatePlant?Plant=" + val,
                false);
            xmlhttp.setRequestHeader('Content-Type',
                'application/x-www-form-urlencoded');

            xmlhttp.send(null);
            //alert("Your plant has been updated to " + val + ".");
            window.location.href = xmlhttp.responseText;
        }
    }
</script>
@{
    ViewData["Title"] = "Update Plant";
}
<div class="card-body">
    <label><b>Select Plant</b></label>
    <select id="Plant" name="Plant" onchange="UpdatePlant(document.getElementById('Plant').value)">
        @if (Model.Plants.Count != 0)
        {
            <option>Please select a plant</option>

            int plantCount = 0;
            @foreach (var plant in Model.Plants)
            {
                <option value=@Model.Plants.ElementAtOrDefault(plantCount).Name>@Model.Plants.ElementAtOrDefault(plantCount).Name</option>
                plantCount = plantCount + 1;
            }
        }
    </select>
</div>