﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<label class="text-danger" style="text-align:center">
    <b>Unauthorized access.</b>
</label>
<div>

    @Html.ActionLink("Continue", null, null, null, new { href = Context.Request.Headers["Referer"] })
</div>