﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IList<MSO.Models.Item>
@using PagedList.Mvc;
@{
}
<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Items")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count != 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gross)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Net)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tare)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "RemoveItem", "Item", new { ItemCount = item.ItemCount, RequestNumber = item.RequestNumber })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>