﻿@model IEnumerable<MSO.Models.Mso>

@using X.PagedList.Mvc.Core;

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="row">
                @Html.DisplayName("Mso Number")
            </th>
            <th scope="row">
                @Html.DisplayName("Name")
            </th>
            <th scope="row">
                @Html.DisplayName("Creation Date")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @if (@User.Identity.Name == "securityp")
                    {

                    }
                    else
                    {
                        @Html.ActionLink("Edit |", "Edit", new { id = item.RequestNumber })
                    }

                    @Html.ActionLink("Details", "Details", new { id = item.RequestNumber })

                    @if (@User.Identity.Name != "securityp")
                    {

                    }
                    else
                    {
                        @Html.ActionLink(" | Delete", "Delete", new { id = item.RequestNumber });
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@*<div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 200px">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="@(i == Model.PageNumber ? "page-item active" : "page-item")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
        </div>
    </div>*@