﻿@using System.Web.Mvc;

@{
    ViewData["Title"] = "Custom Reporting";
}
<head>
    <script>

        function appendValue(t, v) {
            t.value += v;
        }
    </script>
</head>
@if (Model != null)
{
    <div class="alert-danger" style="font-variant-caps:normal">No data was return for those values.</div>
}
<form asp-controller="MSO" asp-action="Adhoc" style="border-style:none" class="form-control" method="post">
    <div class="card-header">

        <div class="form-group" style="max-width: 50rem;align-content:center">
            <textarea name="adhoc" class="text-body" rows="1" hidden cols="50"></textarea>
            <br />
            @{

                DateTime dt = DateTime.Now;
                <span>@Html.Label("From Date")</span>
                <br />
                <input name="startDate" class="datefield" placeholder="dd-mm-yyyy" value=dt.ToShortDateString() type="date" id="startDate" /><br />

                <span>@Html.Label("To Date")</span><br />
                <input name="endDate" class="datefield" placeholder="dd-mm-yyyy" value=dt.ToShortDateString() type="date" id="endDate" />

                <br />
                <br />

                <input class="form-check-input" id="myCheck" type="checkbox" value="*," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("All")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="corpVenNo," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("VendorRemove")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="buyerSelect," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Buyer")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="appCompBy," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("CompletedBy")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="matDesc," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Description")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="matItem," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("ItemCount")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="OtherRefNum," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("OtherReferenceNumber")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="purchReqNum," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("PurchaseNumber")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="matQty," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Quantity")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="shipto1," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Ship To")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="shipto2," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Ship To 2")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="shipto3," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Ship To 3")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="shipto4," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Ship To 4")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="shipViaTxt," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("ShipVia")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="appreqdept," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("RequestedByDepartment")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="req_by," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("RequestedByName")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="userRemarks," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Remarks")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="billoflading," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("BillOfLading")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="msocreationdate," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Creation Date")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="msoshipdate," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("ShipDate")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="matNet," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Net")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="matTare," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Tare")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="gateReturn," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("Return")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="gateGoodsEquip," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("GoodsLoaned")<br />
                <input class="form-check-input" id="myCheck" type="checkbox" value="gateGoods," onclick="if(checked) appendValue(elements[0], value);" /> @Html.DisplayName("GoodsShipped")<br /><br />

            }
            @Html.DisplayName("Label your report:")<br />
            @Html.TextBox("file")
            <input type="submit" name="Adhoc" value="Submit">
            <br />
            <br />
        </div>
    </div>
</form>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />