﻿@{
    ViewData["Title"] = "Create";
}
<body>
    <div class="card-body">
        <partial name="_create" />
    </div>
    @*<div class="card-body">
            <partial name="_item" />
        </div>*@
</body>