﻿@using MSO.DataAccess;
@model MSO.Models.Mso

@{ ViewData["Title"] = "Details"; }

<script type="text/javascript">
    function ShowThis() {
        $('#gateTran').show();
        $('#creditTran').hide();
        $('#cashTran').hide();
        $('#returnTran').hide();
    }

    function Selected(bool) {
        var setbool = bool.value;

        if (setbool == 4) {
            $('#Return').click();

        }
        else if (setbool == 3) {
            $('#Return').click();
        }
        else if (setbool == 2) {
            $('#Return').click();
        }
        else if (setbool == 1) {
            $('#Return').click();
        }
    }
    function ShowOption(radio) {
        var setdRad = radio.value;

        if (setdRad == 4) {
            $('#gateTran').show();
            $('#cashTran').hide();
            $('#creditTran').hide();
            $('#returnTran').hide();
        }
        else if (setdRad == 3) {
            $('#returnTran').show();
            $('#gateTran').hide();
            $('#creditTran').hide();
            $('#cashTran').hide();
        }
        else if (setdRad == 2) {
            $('#creditTran').show();
            $('#cashTran').hide();
            $('#gateTran').hide();
            $('#returnTran').hide();
        }
        else if (setdRad == 1) {
            $('#cashTran').show();
            $('#gateTran').hide();
            $('#creditTran').hide();
            $('#returnTran').hide();
        }
    }
    function ShowFOB(radio) {
        var setdRad = radio.value;

        if (setdRad == 1) {
            $('#OurPlant').show();
            $('#Destination').hide();
            $('#OtherSpcify').hide();
        }
        else if (setdRad == 2) {
            $('#Destination').show();
            $('#OurPlant').hide();
            $('#OtherSpecify').hide();
        }
        else if (setdRad == 3) {
            $('#OtherSpecify').show();
            $('#OurPlant').hide();
            $('#Destination').hide();
        }
    }
    function UpdateAddress(string) {
        $('#ShipName').value = Name[0];
        $('#ShipAddress').value = Address[1];
        $('#ShipCity').value = City[2];
        $('#ShipState').value = State[3];
        $('#ShipZip').value = Zip[4];
    }
    function HideAll() {
        $('#cashTran').hide();
        $('#creditTran').hide();
        $('#returnTran').hide();
    }
</script>

<body onload="HideAll()">
    <h1>MSO Details</h1>
    @if (!string.IsNullOrEmpty(Model.Status))
    {
    @Html.DisplayFor(m => Model.Status)
    }
    <form asp-action="Print" asp-controller="Mso">
        <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
            <div class="card-header"><b>@Html.DisplayFor(model => model.RequestNumber)</b></div>
            <div class="card-body">
                <div class="card-header">
                    <b>
                        @Html.Label("Ship To")
                    </b>
                </div>
                @{
                    bool hasVendor = false;
                    hasVendor = (Model.Vendor != null) ? true : false;

                    if (hasVendor)
                    {
                    <dl class="list-group-horizontal">
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vendor.Name, Model.Vendor.Name, new { @contenteditable = "false" })
                        </dd>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vendor.Address, Model.Vendor.Address, new { @contenteditable = "false" })
                        </dd>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vendor.City, Model.Vendor.City, new { @contenteditable = "false" })
                        </dd>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vendor.State, Model.Vendor.State, new { @contenteditable = "false" })
                        </dd>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vendor.Zip, Model.Vendor.Zip, new { @contenteditable = "false" })
                        </dd>
                    </dl>
                    }
                }
            </div>
            @{
                bool showSoldTo = false;

                showSoldTo = (Model.SoldTo1 != null) ? true : false;
                showSoldTo = (Model.SoldTo2 != null) ? true : false;
                showSoldTo = (Model.SoldTo3 != null) ? true : false;
                showSoldTo = (Model.SoldTo4 != null) ? true : false;

                if (showSoldTo == true)
                {
                <div class="card-body">
                    <div class="card-header">
                        <b>
                            @Html.Label("Sold To")
                        </b>
                    </div>
                    <dl class="list-group-horizontal">
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SoldTo1, Model.SoldTo1, new { @contenteditable = "false" })
                        </dd>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SoldTo2, Model.SoldTo2, new { @contenteditable = "false" })
                        </dd>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SoldTo3, Model.SoldTo3, new { @contenteditable = "false" })
                        </dd>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SoldTo4, Model.SoldTo4, new { @contenteditable = "false" })
                        </dd>
                        <dd class="col-sm-10">
                        </dd>
                    </dl>
                </div>
                }
            }
        </div>
        <div class="card-header">
            <fieldset>
                <legend>Reference Numbers</legend>
                <div class="inFieldset">
                    <table>
                        <tbody>
                            <tr>
                                <td>Req. No</td>
                                <td>@Html.DisplayFor(m => m.RequestNumber, Model.RequestNumber.ToString(), new { @contenteditable = "false" })</td>
                            </tr>
                            <tr>
                                <td>Purch Order No.</td>
                                <td>@Html.DisplayFor(m => m.PurchaseNumber, Model.PurchaseNumber, new { @contenteditable = "false" })</td>
                            </tr>
                            <tr>
                                <td>Work Order No.</td>
                                <td>@Html.DisplayFor(m => m.WorkOrderNumber, Model.WorkOrderNumber, new { @contenteditable = "false" })</td>
                            </tr>
                            <tr>
                                <td>Other Ref. No.</td>
                                <td>@Html.DisplayFor(m => m.OtherReferenceNumber, Model.OtherReferenceNumber, new { @contenteditable = "false" })</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="card-header">
            <span>Ship Date :</span>
            @Html.DisplayFor(model => model.ShipDate)
            <br />
            <span>Ship Via :</span> @Html.DisplayFor(model => model.ShipVia, Model.ShipVia, new { @contenteditable = "false" })
            <br />
            <span>Bill Of Lading :</span> @Html.DisplayFor(model => model.BillOfLading, Model.BillOfLading, new { @contenteditable = "false" })
        </div>

        <fieldset>
            <legend>Type Of Transaction</legend>
            <div class="card-header">

                <div id="tranRadio" class="card-body">
                    <table>
                        <tbody>

                            <tr>
                                <td>@Html.RadioButtonFor(m => m.TransactionType, "1", Model.TransactionType == "1" ? new { @checked = "checked", @name = "tran_type", onclick = "ShowOption(this)", @id = "tran_type", @onload = "ShowOption(this)", @contenteditable = "false" } : null) Cash Sale</td>
                                <td> @Html.RadioButtonFor(m => m.TransactionType, "2", Model.TransactionType == "2" ? new { @checked = "checked", @name = "tran_type", onclick = "ShowOption(this)", @id = "tran_type", @onload = "ShowOption(this)", @contenteditable = "false" } : null) Credit Sale</td>
                                <td>@Html.RadioButtonFor(m => m.TransactionType, "3", Model.TransactionType == "3" ? new { @checked = "checked", @name = "tran_type", onclick = "ShowOption(this)", @id = "tran_type", @onload = "ShowOption(this)", @contenteditable = "false" } : null) Return For Vendor Credit</td>
                                <td>@Html.RadioButtonFor(m => m.TransactionType, "4", Model.TransactionType == "4" ? new { @checked = "checked", @name = "tran_type", onclick = "ShowOption(this)", @id = "tran_type", @onload = "ShowOption(this)", @contenteditable = "false" } : null) Gate Pass</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-header">
                    <div class="hidden" id="cashTran">
                        <div class="card-header"><b> Cash To Be Credited To The Appropriate Account</b></div><br>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Amount</td>
                                    <td>@Html.DisplayFor(model => model.CashAmount, new { @id = "CashAmount", @contenteditable = "false" })</td>
                                    <td class="spacer"></td>
                                    <td>Customer Check No</td>
                                    <td>@Html.DisplayFor(model => model.CashCheckNo, new { @id = "CashCheckNo", @contenteditable = "false" })</td>
                                </tr>
                                <tr>
                                    <td>Receipt No</td>
                                    <td>@Html.DisplayFor(model => model.CashReceipt, new { @id = "CashReceipt", @contenteditable = "false" })</td>
                                    <td class="spacer"></td>
                                    <td>Date Received</td>
                                    <td>@Html.DisplayFor(model => model.CashReceived, new { @id = "CashReceived", @contenteditable = "false" })</td>
                                    <td class="spacer"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="hidden" id="creditTran">
                        <table class="card-header"><tbody><tr><td><b>TO BE INVOICED TO THE "SOLD TO" SHOWN ABOVE</b></td></tr></tbody></table>
                    </div>
                    <div class="hidden" id="returnTran">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Corporate Vendor No.</td>
                                    <td>@Html.DisplayFor(model => model.CorpVenNo, new { @id = "CorpVenNo", @contenteditable = "false" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="gateTran">
                        @Html.CheckBoxFor(m => m.Return, true ? new { @checked = "checked", onload = "Seleted(this)", name = "gateTran", @id = "Return", @contenteditable = "false" } : null)<span> Return To Vendor For Exchange Of Material</span><br />
                        @Html.CheckBoxFor(m => m.GateEquip, true ? new { @checked = "checked", onload = "Selected(this)", name = "gateTran", @id = "Repaired", @contenteditable = "false" } : null)<span> Equipment To Be Repaired By The "Ship To" Shown And Returned To This Location</span><br />
                        @Html.CheckBoxFor(m => m.GoodsShipped, true ? new { @checked = "checked", onload = "Selected(this)", name = "gateTran", @id = "GoodsShipped", @contenteditable = "false" } : null)<span> Goods Shipped To The "Ship To" Shown For Further Fabrication And To Be Returned To This Location</span><br />
                        @Html.CheckBoxFor(m => m.GoodsLoaned, true ? new { @checked = "checked", onload = "Selected(this)", name = "gateTran", @id = "GoodsLoaned", @contenteditable = "false" } : null)<span> Goods Or Equipment On Loan To Customer, Vendor, Or Other Rac Location As Shown Above</span><br />
                        @Html.CheckBoxFor(m => m.GateVendor, true ? new { @checked = "checked", onload = "Selected(this)", name = "gateTran", @id = "GateVendor", @contenteditable = "false" } : null)<span> Vendors Equipment Being Removed From Plant Site</span><br />
                        @Html.CheckBoxFor(m => m.Other, true ? new { @checked = "checked", onload = "Selected(this)", name = "gateTran", @id = "Other", @contenteditable = "false" } : null)<span> Other - Describe Fully Under Remarks</span><br />
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="card-header">
            <fieldset>
                <legend>FOB</legend>

                <div class="align-items-md-center">
                    @if (Model.Fob == 1)
                    {
                        switch (Model.Vendor.Plant)
                        {
                            case "HAWESVILLE":
                                {
                    <span>Hawesville: </span>  @Html.RadioButtonFor(m => m.Vendor.Plant, "HAWESVILLE");
                                    break;
                                }
                            case "SEBREE":
                                {
                    <span>Sebree: </span>  @Html.RadioButtonFor(m => m.Vendor.Plant, "SEBREE");
                                    break;
                                }
                            case "MT. HOLLY":
                                {
                    <span>Mt. Holly: </span>  @Html.RadioButtonFor(m => m.Vendor.Plant, "MT. HOLLY");
                                    break;
                                }
                        }
                    @Html.DisplayFor(m => m.Fob, Model.Fob.ToString(), new { @hidden = "true" });
                    }
                    <br />
                    <span>Destination: </span>@Html.RadioButtonFor(m => m.Destination, "2", Model.Destination == "2" ? new { @checked = "checked", @id = "Destination", @contenteditable = "false" } : null)<br />
                    <span>Other (Specify): </span>@Html.RadioButtonFor(m => m.OtherSpecify, "3", Model.OtherSpecify == "3" ? new { @checked = "checked", @id = "OtherSpecify", @contenteditable = "false" } : null)
                </div>
            </fieldset>
            <fieldset>
                <legend>Freight</legend>
                <div class="align-items-md-stretch">
                    <span>Prepay &amp; Charge To Invoice</span>@Html.RadioButtonFor(m => m.Freight, "1", Model.Freight == '1' ? new { @checked = "checked", @id = "PrepayChargeInvoice", @contenteditable = "false" } : null)
                    <span>Prepay &amp; Allow</span>@Html.RadioButtonFor(m => m.Freight, "2", Model.Freight == '2' ? new { @checked = "checked", @id = "PrepayAllow", @contenteditable = "false" } : null)
                    <span>Collect</span>@Html.RadioButtonFor(m => m.Freight, "3", Model.Freight == '3' ? new { @checked = "checked", @id = "Collect", @contenteditable = "false" } : null)
                </div>
            </fieldset>
        </div>
        @if (Model.Items.Count != 0)
        {
        <div class="card bg-light mb-3" style="max-width: 80rem;">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Item</th>
                        <th scope="col">Stock #</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Gross</th>
                        <th scope="col">Tare</th>
                        <th scope="col">Net</th>
                        <th scope="col">Value</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gross)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tare)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Net)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>
        }
        <br />
        <div class="card-header">
            <fieldset>
                <legend>Remarks</legend>
                <span><b>Remarks </b></span>
                @Html.DisplayFor(m => m.Remarks, Model.Remarks, new { @id = "Remarks", @name = "Remarks", @class = "form-control", @contenteditable = "false" })
                <span><b>Instructions </b></span>
                @Html.DisplayFor(m => m.ShippingInstructions, Model.ShippingInstructions, new { @id = "ShippingInstructions", @class = "form-control", @contenteditable = "false" })
            </fieldset>
        </div>
        <div class="card-header">
            <fieldset>
                <legend>Approvals</legend>
                <div id="app1">
                    <table>
                        <tbody>
                            <tr>
                                <td>MSO Requested By - DEPT</td>
                                <td><b>@Html.DisplayFor(m => m.RequestedByDepartment, Model.RequestedByDepartment, new { @id = "RequestedByDepartment", @class = "form-control", @contenteditable = "false" })</b></td>
                                <td class="spacer"></td>
                                <td>Shipment Completed By</td>
                                <td><b>@Html.DisplayFor(m => m.CompletedBy, Model.CompletedBy, new { @id = "CompletedBy", @class = "form-control", @contenteditable = "false" })</b></td>
                            </tr>
                            <tr>
                                <td>MSO Requested By - NAME</td>
                                <td><b>@Html.DisplayFor(m => m.RequestedByName, Model.RequestedByName, new { @id = "RequestedByName", @class = "form-control", @contenteditable = "false" })</b></td>
                                <td class="spacer"></td>
                                <td>Buyer</td>
                                <td><b>@Html.DisplayFor(m => m.Buyer, Model.Buyer, new { @id = "Buyer", @class = "form-control", @contenteditable = "false" })</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table style="height: 82px; width: 730px;">
                        <tbody>
                            <tr>
                                <td colspan="2" id="returnHead">For Vendor Returns: (Enter Reason in Remarks)</td>
                            </tr>
                            <tr>
                                <td>Name of Vendor's Representative who Approved the Return</td>
                                <td><b>@Html.DisplayFor(m => m.ReturnRep, Model.ReturnRep, new { @id = "ReturnRep", @class = "form-control", @contenteditable = "false" })</b></td>
                            </tr>
                            <tr>
                                <td>Name of Century Aluminum Representative Who Authorized the Return</td>
                                <td><b>@Html.DisplayFor(m => m.CenturyRepresentative, Model.CenturyRepresentative, new { @id = "CenturyRepresentative", @class = "form-control", @contenteditable = "false" })</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <br class="spacer" />
        <div class="form-group">
            <a href="~/mso/openpdf?msoNumber=@Model.RequestNumber" target="_blank"> View PDF</a>
        </div>
        <div>

            @Html.ActionLink("Back to List", null, null, null, new { href = Context.Request.Headers["Referer"] })
        </div>
    </form>
</body>