﻿<div class="card-header">
    <h1>Your file has been saved to your download directory.</h1>
    <div>

        @Html.ActionLink("Back", null, null, null, new { href = Context.Request.Headers["Referer"] })
    </div>
</div>