﻿@model X.PagedList.IPagedList<MSO.Models.Mso>
@using X.PagedList.Mvc.Core;

@{ ViewData["Title"] = "Index"; }
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<h1>Mso</h1>

@if (Model.FirstOrDefault().RoleId != 0)
{
    <p>
        <a asp-action="Create">Create A New Mso</a>
    </p>
}
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Request Number")
            </th>
            <th>
                @Html.DisplayName("Order Number")
            </th>

            <th>
                @Html.DisplayName("Ship Date")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipDate)
                </td>
                <td>
                    @if (Convert.ToInt32(item.RoleId) == 1 || Convert.ToInt32(item.RoleId) == 2)
                    {
                        @Html.ActionLink("Edit | ", "Edit", new { id = item.RequestNumber })
                        @Html.ActionLink("Details | ", "Details", new { id = item.RequestNumber })
                        @Html.ActionLink("Delete | ", "Delete", new { id = item.RequestNumber })
                        @Html.ActionLink("Print", "openpdf", new { msonumber = item.RequestNumber }, new { target = "_blank" })
                    }

                    @if (Convert.ToInt32(item.RoleId) == 0)
                    {
                        @Html.ActionLink("Details | ", "Details", new { id = item.RequestNumber })
                        @Html.ActionLink("Print", "openpdf", new { msonumber = item.RequestNumber }, new { target = "_blank" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 200px">
        @Html.PagedListPager((X.PagedList.IPagedList)Model, page => Url.Action("Index", "MSO", new { page }))
    </div>
</div>

@*<ul class="pagination pagination-sm">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="@(i == Model.PageNumber ? "page-item active" : "page-item")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
    </ul>*@