﻿@using MSO.DataAccess;
@model MSO.Models.Mso

@{ ViewData["Title"] = "Details"; }

<script type="text/javascript">

    $('#gateTran').show();
    $('#creditTran').hide();
    $('#cashTran').hide();
    $('#returnTran').hide();

    function Selected(bool) {
        var setbool = bool.value;

        if (setbool == 4) {
            $('#Return').click();

        }
        else if (setbool == 3) {
            $('#Return').click();
        }
        else if (setbool == 2) {
            $('#Return').click();
        }
        else if (setbool == 1) {
            $('#Return').click();
        }
    }
    function paymentOption(radio) {
        var setdRad = radio.value;
        alert(setdRad);
        if (setdRad == 4) {
            $('#gateTran').show();
            $('#cashTran').hide();
            $('#creditTran').hide();
            $('#returnTran').hide();
        }
        else if (setdRad == 3) {
            $('#returnTran').show();
            $('#gateTran').hide();
            $('#creditTran').hide();
            $('#cashTran').hide();
        }
        else if (setdRad == 2) {
            $('#creditTran').show();
            $('#cashTran').hide();
            $('#gateTran').hide();
            $('#returnTran').hide();
        }
    }
    function ShowOption(radio) {
        var setdRad = radio.value;
        alert(radio);

        if (setdRad == 4) {
            $('#gateTran').show();
            $('#cashTran').hide();
            $('#creditTran').hide();
            $('#returnTran').hide();
        }
        else if (setdRad == 3) {
            $('#returnTran').show();
            $('#gateTran').hide();
            $('#creditTran').hide();
            $('#cashTran').hide();
        }
        else if (setdRad == 2) {
            $('#creditTran').show();
            $('#cashTran').hide();
            $('#gateTran').hide();
            $('#returnTran').hide();
        }
        else if (setdRad == 1) {
            $('#cashTran').show();
            $('#gateTran').hide();
            $('#creditTran').hide();
            $('#returnTran').hide();
        }
    }
    function UpdateAddress(string) {
        $('#ShipName').value = Name[0];
        $('#ShipAddress').value = Address[1];
        $('#ShipCity').value = City[2];
        $('#ShipState').value = State[3];
        $('#ShipZip').value = Zip[4];
    }
    function HideAll() {
        $('#cashTran').hide();
        $('#gateTran').hide();
        $('#creditTran').hide();
        $('#returnTran').hide();
    }
    function UpdateMso(val) {
        var xmlhttp = new XMLHttpRequest();
        alert("Made it here.");
        if (xmlhttp && val != "0") {
            xmlhttp.open("GET", "/SQLHelper/UpdateMso?mso=" + val,
                false);
            xmlhttp.setRequestHeader('Content-Type',
                'application/x-www-form-urlencoded');

            xmlhttp.send(null);
        }
    }
    function UpdateNet() {
        document.getElementById("Net").value = document.getElementById("Gross").value - document.getElementById("Tare").value;
    }
</script>

<body onload="HideAll()">
    <form asp-action="Edit" asp-controller="Mso">
        <h1>MSO Details</h1>
        <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
            <div class="card-header"><b>@Html.DisplayFor(model => model.RequestNumber)</b></div>
            <div class="card-body">
                <div class="card-header">
                    <b>
                        @Html.Label("Ship To")
                    </b>
                </div>
                <dl class="list-group-horizontal">
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.Vendor.Name)
                    </dd>
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.Vendor.Address)
                    </dd>
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.Vendor.City) @Html.DisplayFor(model => model.Vendor.State) @Html.DisplayFor(model => model.Vendor.Zip)
                    </dd>
                    <dd class="col-sm-10">
                    </dd>
                    <dd class="col-sm-10">
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <div class="card-header">
                    <b>
                        @Html.Label("Sold To")
                    </b>
                </div>
                <dl class="list-group-horizontal">
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.SoldTo1)
                    </dd>
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.SoldTo2)
                    </dd>
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.SoldTo3)
                    </dd>
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.SoldTo4)
                    </dd>
                    <dd class="col-sm-10">
                    </dd>
                </dl>
            </div>
        </div>
        <div class="card-header">
            <fieldset>
                <legend>Reference Numbers</legend>
                <div class="inFieldset">
                    <table>
                        <tbody>
                            <tr>
                                <td>Req. No</td>
                                <td>@Html.TextBoxFor(m => m.RequestNumber)</td>
                            </tr>
                            <tr>
                                <td>Purch Order No.</td>
                                <td>@Html.TextBoxFor(m => m.PurchaseNumber)</td>
                            </tr>
                            <tr>
                                <td>Work Order No.</td>
                                <td>@Html.TextBoxFor(m => m.WorkOrderNumber)</td>
                            </tr>
                            <tr>
                                <td>Other Ref. No.</td>
                                <td>@Html.TextBoxFor(m => m.OtherReferenceNumber)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="card-header">
            <span>Ship Date :</span>
            @Html.TextBoxFor(model => model.ShipDate)
            <br />
            <span>Ship Via :</span> @Html.TextBoxFor(model => model.ShipVia)
            <br />
            <span>Bill Of Lading :</span> @Html.TextBoxFor(model => model.BillOfLading)
        </div>

        <fieldset>
            <legend>Type Of Transaction</legend>
            <div class="card-header">

                <div id="tranRadio" class="card-body">
                    <table>
                        <tbody>

                            <tr>
                                <td>@Html.RadioButtonFor(m => m.TransactionType, "1", Model.TransactionType == "1" ? new { @checked = "checked", @name = "tran_type", onclick = "ShowOption(this)", @id = "tran_type", @onload = "ShowOption(this)" } : null) Cash Sale</td>
                                <td> @Html.RadioButtonFor(m => m.TransactionType, "2", Model.TransactionType == "2" ? new { @checked = "checked", @name = "tran_type", onclick = "ShowOption(this)", @id = "tran_type", @onload = "ShowOption(this)" } : null) Credit Sale</td>
                                <td>@Html.RadioButtonFor(m => m.TransactionType, "3", Model.TransactionType == "3" ? new { @checked = "checked", @name = "tran_type", onclick = "ShowOption(this)", @id = "tran_type", @onload = "ShowOption(this)" } : null) Return For Vendor Credit</td>
                                <td>@Html.RadioButtonFor(m => m.TransactionType, "4", Model.TransactionType == "4" ? new { @checked = "checked", @name = "tran_type", onclick = "ShowOption(this)", @id = "tran_type", @onload = "ShowOption(this)" } : null) Gate Pass</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-header">
                    <div class="hidden" id="cashTran">
                        <div class="card-header"><b> Cash To Be Credited To The Appropriate Account</b></div><br>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Amount</td>
                                    <td>@Html.TextBoxFor(model => model.CashAmount, new { @id = "CashAmount" })</td>
                                    <td class="spacer"></td>
                                    <td>Customer Check No</td>
                                    <td>@Html.TextBoxFor(model => model.CashCheckNo, new { @id = "CashCheckNo" })</td>
                                </tr>
                                <tr>
                                    <td>Receipt No</td>
                                    <td>@Html.TextBoxFor(model => model.CashReceipt, new { @id = "CashReceipt" })</td>
                                    <td class="spacer"></td>
                                    <td>Date Received</td>
                                    <td>@Html.TextBoxFor(model => model.CashReceived, new { @id = "CashReceived" })</td>
                                    <td class="spacer"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="hidden" id="creditTran">
                        <table class="card-header"><tbody><tr><td><b>TO BE INVOICED TO THE "SOLD TO" SHOWN ABOVE</b></td></tr></tbody></table>
                    </div>
                    <div class="hidden" id="returnTran">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Corporate Vendor No.</td>
                                    <td>@Html.TextBoxFor(model => model.CorpVenNo, new { @id = "CorpVenNo" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="gateTran">
                        @Html.CheckBoxFor(m => m.Return, true ? new { @checked = "checked", onload = "Seleted(this)", @id = "Return" } : null)<span> Return To Vendor For Exchange Of Material</span><br />
                        @Html.CheckBoxFor(m => m.GateEquip, true ? new { @checked = "checked", onload = "Selected(this)", @id = "Repaired" } : null)<span> Equipment To Be Repaired By The "Ship To" Shown And Returned To This Location</span><br />
                        @Html.CheckBoxFor(m => m.GoodsShipped, true ? new { @checked = "checked", onload = "Selected(this)", @id = "GoodsShipped" } : null)<span> Goods Shipped To The "Ship To" Shown For Further Fabrication And To Be Returned To This Location</span><br />
                        @Html.CheckBoxFor(m => m.GoodsLoaned, true ? new { @checked = "checked", onload = "Selected(this)", @id = "GoodsLoaned" } : null)<span> Goods Or Equipment On Loan To Customer, Vendor, Or Other Rac Location As Shown Above</span><br />
                        @Html.CheckBoxFor(m => m.GateVendor, true ? new { @checked = "checked", onload = "Selected(this)", @id = "GateVendor" } : null)<span> Vendors Equipment Being Removed From Plant Site</span><br />
                        @Html.CheckBoxFor(m => m.Other, true ? new { @checked = "checked", onload = "Selected(this)", @id = "Other" } : null)<span> Other - Describe Fully Under Remarks</span><br />
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="card-header">
            <fieldset>
                <legend>FOB</legend>

                <div class="align-items-md-center">
                    @if (Model.Fob == 1)
                    {
                        switch (Model.Vendor.Plant)
                        {
                            case "HAWESVILLE":
                                {
                                    <span>Hawesville: </span> @Html.RadioButtonFor(m => m.Vendor.Plant, "HAWESVILLE");
                                    break;
                                }
                            case "SEBREE":
                                {
                                    <span>Sebree: </span> @Html.RadioButtonFor(m => m.Vendor.Plant, "SEBREE");
                                    break;
                                }
                            case "MT. HOLLY":
                                {
                                    <span>Mt. Holly: </span> @Html.RadioButtonFor(m => m.Vendor.Plant, "MT. HOLLY");
                                    break;
                                }
                        }
                        @Html.TextBoxFor(m => m.Fob, "1", Model.Fob == '1');
                    }
                    <br />
                    <span>Destination: </span>@Html.RadioButtonFor(m => m.Destination, "2", Model.Destination == "2" ? new { @checked = "checked", @id = "Destination" } : null)<br />
                    <span>Other (Specify): </span>@Html.RadioButtonFor(m => m.OtherSpecify, "3", Model.OtherSpecify == "3" ? new { @checked = "checked", @id = "OtherSpecify" } : null)
                </div>
            </fieldset>
            <fieldset>
                <legend>Freight</legend>
                <div class="align-items-md-stretch">
                    <span>Prepay &amp; Charge To Invoice</span>@Html.RadioButtonFor(m => m.Freight, "1", Model.Freight == '1' ? new { @checked = "checked", @id = "PrepayChargeInvoice" } : null)
                    <span>Prepay &amp; Allow</span>@Html.RadioButtonFor(m => m.Freight, "2", Model.Freight == '2' ? new { @checked = "checked", @id = "PrepayAllow" } : null)
                    <span>Collect</span>@Html.RadioButtonFor(m => m.Freight, "3", Model.Freight == '3' ? new { @checked = "checked", @id = "Collect" } : null)
                </div>
            </fieldset>
        </div>
        <br />
        <div class="card-header">
            <fieldset>
                <legend>Remarks</legend>
                <span><b>Remarks </b></span>
                @Html.TextBoxFor(m => m.Remarks, Model.Remarks, new { @id = "Remarks", @name = "Remarks", @class = "form-control" })
                <span><b>Instructions </b></span>
                @Html.TextBoxFor(m => m.ShippingInstructions, Model.ShippingInstructions, new { @id = "ShippingInstructions", @class = "form-control" })
            </fieldset>
        </div>
        <div class="card-header">
            <fieldset>
                <legend>Approvals</legend>
                <div id="app1">
                    <table>
                        <tbody>
                            <tr>
                                <td>MSO Requested By - DEPT</td>
                                <td>@Html.TextBoxFor(m => m.RequestedByDepartment, Model.RequestedByDepartment, new { @id = "RequestedByDepartment", @class = "form-control" })</td>
                                <td class="spacer"></td>
                                <td>Shipment Completed By</td>
                                <td>@Html.TextBoxFor(m => m.CompletedBy, Model.CompletedBy, new { @id = "CompletedBy", @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>MSO Requested By - NAME</td>
                                <td>@Html.TextBoxFor(m => m.RequestedByName, Model.RequestedByName, new { @id = "RequestedByName", @class = "form-control" })</td>
                                <td class="spacer"></td>
                                <td>Buyer</td>
                                <td>@Html.TextBoxFor(m => m.Buyer, Model.Buyer, new { @id = "Buyer", @class = "form-control" })</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table style="height: 82px; width: 730px;">
                        <tbody>
                            <tr>
                                <td colspan="2" id="returnHead">For Vendor Returns: (Enter Reason in Remarks)</td>
                            </tr>
                            <tr>
                                <td>Name of Vendor's Representative who Approved the Return</td>
                                <td>@Html.TextBoxFor(m => m.ReturnRep, Model.ReturnRep, new { @id = "ReturnRep", @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>Name of Century Aluminum Representative Who Authorized the Return</td>
                                <td>@Html.TextBoxFor(m => m.CenturyRepresentative, Model.CenturyRepresentative, new { @id = "CenturyRepresentative", @class = "form-control" })</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <br class="spacer" />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    <div class="card bg-light mb-3" style="max-width: 80rem;">

        @if (@Model.Items.Count > 0)
        {

            <partial name="_Item" />
        }
    </div>
    <div>

        @Html.ActionLink("Back to List", null, null, null, new { href = Context.Request.Headers["Referer"] })
    </div>
</body>