﻿@model MSO.Models.Search

@{ ViewData["Title"] = "Search"; }

<h1>Search MSO's</h1>

<body onload="hideGIF()">
    <script type="text/javascript">
        function getFocus(val) {
            document.getElementById(val).autofocus();
        }
        function displayGIF() {
            $('#cursor').show();
        }
        function hideGIF() {
            $('#cursor').hide();
            $('#SearchString').value = "";
        }

        function CheckString() {
            displayGIF();
            if (document.getElementById("SearchType").value != null) {
                alert("Searching");
                if (document.getElementById("SearchType").value == "Creation Date" && document.getElementById("startDate").value == "" && document.getElementById("endDate").value == "") {
                    document.getElementById("errorMessage").innerHTML = "Please enter a valid date range! ";
                    document.getElementById("errorMessage").focus;
                }
                if ((document.getElementById("SearchType").value != "Creation Date" || document.getElementById("SearchType").value != "") && document.getElementById("SearchString").value == "") {
                    document.getElementById("errorMessage").innerHTML = "Please enter a valid search string! ";
                    document.getElementById("errorMessage").focus;
                }
                if (document.getElementById("SearchType").value == "") {
                    document.getElementById("errorMessage").innerHTML = "Please enter a valid search! ";
                    document.getElementById("errorMessage").focus;
                }
            }
        }
    </script>

    <div class="jumbotron">
        <div class="col-md-4">
            <form asp-action="Search">
                @{
                    if (Model.SearchOption.SearchType != null && Model.MSOs.Count == 0)
                    {
                        <div class="alert-danger" style="font-variant-caps:normal">No data was return for those values.</div>
                    }

                }
                <p id="errorMessage" class="alert-danger" style="font-variant-caps:normal"></p>
                <div class="form-group">
                    <div id="cursor"><img src="~/images/busy.gif" width="60" height="60" /><b>Searching.......</b></div>
                    @{
                        DateTime dt = DateTime.Now;
                        <span>@Html.Label("From Date")</span><br />
                        <input asp-for="@Model.SearchOption.startDate" class="datefield" placeholder="mm-dd-yyyy" value=dt.ToShortDateString() type="date" id="startDate" /><br />

                        <span>@Html.Label("To Date")</span><br />
                        <input asp-for="@Model.SearchOption.endDate" class="datefield" placeholder="mm-dd-yyyy" value=dt.ToShortDateString() type="date" id="endDate" />

                    }

                    @Html.Label("Please Select a Field to Search")
                    @Html.DropDownListFor(m => m.SearchOption.SearchType,
                                         Model.SearchOption.SearchItems,
                                         new { @class = "form-control", @id = "SearchType" })

                    <label class="control-label">Search Value</label>

                    <input asp-for="@Model.SearchOption.SearchString" id="SearchString" class="form-control" />

                    <input type="submit" onclick="CheckString()" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

    @if (Model != null && Model.MSOs.Count > 0)
    {

        <partial name="_Mso" model=Model.MSOs />
    }
</body>