﻿@model System.Data.DataTable

@using System.Web.Helpers;
@{
    ViewData["Title"] = "Waste Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")"
            type="text/javascript"></script>
    <script type="text/javascript">
            var debugScript = true;

            function computeTableColumnTotal(tableId, colNumber) {
                // find the table with id attribute tableId
                // return the total of the numerical elements in column colNumber
                // skip the top row (headers) and bottom row (where the total will go)

                var result = 0;

                try {
                    var tableElem = window.document.getElementById(tableId);
                    var tableBody = tableElem.getElementsByTagName("tbody").item(0);
                    var i;
                    var howManyRows = tableBody.rows.length;
                    for (i = 1; i < (howManyRows - 1); i++) // skip first and last row (hence i=1, and howManyRows-1)
                    {
                        var thisTrElem = tableBody.rows[i];
                        var thisTdElem = thisTrElem.cells[colNumber];
                        var thisTextNode = thisTdElem.childNodes.item(0);


                        // try to convert text to numeric
                        var thisNumber = parseFloat(thisTextNode.data);
                        // if you didn't get back the value NaN (i.e. not a number), add into result
                        if (!isNaN(thisNumber))
                            result += thisNumber;
                    } // end for

                } // end try
                catch (ex) {
                    window.alert("Exception in function computeTableColumnTotal()\n" + ex);
                    result = 0;
                }
                finally {
                    return result;
                }

            }

            function finishTable() {

                var tableElemName = "WasteTable";

                var totalTrips = computeTableColumnTotal("WasteTable", 2);
                var totalWeight = computeTableColumnTotal("WasteTable", 3);
try
  {
    var totalTripsElem = window.document.getElementById("Trips");
    totalTripsElem.innerHTML = totalTrips;

    var totalWeightElem = window.document.getElementById("NetWeight");
    totalWeightElem.innerHTML = totalWeight;

   }
   catch (ex)
   {
     window.alert("Exception in function finishTable()\n" + ex);
   }

   return;
}
    </script>
</head>


@{
    ViewData["Title"] = "Waste";
}

<h1>Waste Report</h1>

@if (Model != null)
{
    <body onload="finishTable();">
        <table id="WasteTable" class="table">

            <thead>
                <tr>
                <tr>
                    <th> Hauler</th>
                    <th> Waste Description</th>
                    <th> Trips</th>
                    <th> Net Weight</th>
                </tr>
            </thead>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>

                    <td>@Model.Rows[i][0] </td>
                    <td>@Model.Rows[i][1] </td>
                    <td>@Model.Rows[i][2] </td>
                    <td>@Model.Rows[i][3] </td>

                </tr>
            }
        </table>
        <table class="table">
            <tr>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th>  </th>
                <th> Total Trips</th>
                <th id="Trips"></th>
                <th>  </th>
                <th> Total Weight</th>
                <th id="NetWeight"></th>
        </table>
    </body>
}
else
{
    <form asp-controller="MSO" asp-action="waste" method="post">

        @{
            DateTime dt = DateTime.Now;
            <span>@Html.Label("From Date")</span>
            @Html.Label("To Date")
            <br />
            @Html.TextBox("startDate", String.Format("{0:d}", dt.ToShortDateString()), new { @class = "datefield", type = "date" })
            <span></span>
            @Html.TextBox("endDate", String.Format("{0:d}", dt.ToShortDateString()), new { @class = "datefield", type = "date" })

            <br />
            <br />
            @Html.DisplayName("Email address to receive report:")<br />
            <input class="form-text" type="text" name="file">
            <input type="submit" name="Waste" value="Submit">


        }

    </form>
}