﻿@model MSO.Models.Template

@{

}
<script type="text/javascript">
    function UpdateNet() {
        document.getElementById("Net").value = document.getElementById("Gross").value - document.getElementById("Tare").value;
    }
    function AddItem(val) {
        alert(val);
    }
</script>
<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Items")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Count != 0)
            {
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gross)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Net)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tare)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "RemoveItem", "Item", new { ItemCount = item.ItemCount, RequestNumber = item.RequestNumber })
                        </td>
                    </tr>
                }
            }
            else
            {
                <p> There are no items.</p>
            }
        </tbody>
    </table>
</div>
<div class="justify-content-md-center">
    <form asp-controller="TemplateItem" asp-action="AddItem" id="Items" class="card-header">
        <div class="card-body">
            <div class="card bg-light mb-3">
                <div class="card-header">Add Items</div>
                <div class="card-body">

                    <input hidden id="RequestNumber" name="RequestNumber" asp-for="@Model.RequestNumber" type="text" />
                    <table class="card-deck" id="submissionTable">
                        <tbody>

                            <tr>
                                <td>
                                    <div class="card-columns">
                                        @Html.Label("Stock #")
                                        <input id="StockNumber" name="StockNumber" type="text" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Description")
                                    <input id="Description" name="Description" type="text" required="required" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Quantity")
                                    <input id="Quantity" name="Quantity" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Unit")
                                    @Html.DropDownList("Unit", new List<SelectListItem>
                                        {
                                        new SelectListItem() {Text = "EA", Value="EA"},
                                        new SelectListItem() {Text = "SKID", Value="SKID"},
                                        new SelectListItem() {Text = "LOAD", Value="LOAD"},
                                        new SelectListItem() {Text = "SET", Value="SET"},

                                        })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Gross")
                                    <input id="Gross" name="Gross" type="text" required="required" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Tare")
                                    <input id="Tare" name="Tare" onchange="UpdateNet()" type="text" required="required" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Net")
                                    <input type="text" id="Net" name="Net" required="required" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Value")
                                    <input name="Value" id="Value" type="text" required="required" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                </div>
            </div>
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </form>
</div>