﻿@model X.PagedList.IPagedList<MSO.Models.Template>
@using X.PagedList.Mvc.Core;

@{ ViewData["Title"] = "Details"; }

<script type="text/javascript">
    function ShowThis() {
        $('#gateTran').show();
        $('#creditTran').hide();
        $('#cashTran').hide();
        $('#returnTran').hide();
    }

    function Selected(bool) {
        var setbool = bool.value;

        if (setbool == 4) {
            $('#Return').click();

        }
        else if (setbool == 3) {
            $('#Return').click();
        }
        else if (setbool == 2) {
            $('#Return').click();
        }
        else if (setbool == 1) {
            $('#Return').click();
        }
    }
    function ShowOption(radio) {
        var setdRad = radio.value;

        if (setdRad == 4) {
            $('#gateTran').show();
            $('#cashTran').hide();
            $('#creditTran').hide();
            $('#returnTran').hide();
        }
        else if (setdRad == 3) {
            $('#returnTran').show();
            $('#gateTran').hide();
            $('#creditTran').hide();
            $('#cashTran').hide();
        }
        else if (setdRad == 2) {
            $('#creditTran').show();
            $('#cashTran').hide();
            $('#gateTran').hide();
            $('#returnTran').hide();
        }
        else if (setdRad == 1) {
            $('#cashTran').show();
            $('#gateTran').hide();
            $('#creditTran').hide();
            $('#returnTran').hide();
        }
    }
    function UpdateAddress(string) {
        $('#ShipName').value = Name[0];
        $('#ShipAddress').value = Address[1];
        $('#ShipCity').value = City[2];
        $('#ShipState').value = State[3];
        $('#ShipZip').value = Zip[4];
    }
    function HideAll() {
        $('#cashTran').hide();
        $('#creditTran').hide();
        $('#returnTran').hide();
    }
</script>

<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<h1>Template</h1>

@if (Model.FirstOrDefault().RoleId != 0)
{
    <p>
        <a asp-action="TemplateCreate">Create A New Template</a>
    </p>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @if (Convert.ToInt32(item.RoleId) == 1 || Convert.ToInt32(item.RoleId) == 2)
                    {
                        @Html.ActionLink("Edit | ", "Edit", new { id = item.Id })
                        @Html.ActionLink("Details | ", "Details", new { id = item.Id, name = item.Name })
                        @Html.ActionLink("Delete | ", "Delete", new { id = item.Id })

}

                    @if (Convert.ToInt32(item.RoleId) == 0)
                    {
                        @Html.ActionLink("Details | ", "Details", new { id = item.Id, name = item.Name })

}
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 200px">
        @Html.PagedListPager((X.PagedList.IPagedList)Model, page => Url.Action("List", "Template", new { page }))
    </div>
</div>