﻿@model MSO.Models.Waste
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card-header">
    <fieldset>
        <legend>Waste MSO</legend>
        <div class="inFieldset">
            <table>
                <tbody>
                    <tr>
                        <td>Req. No</td>
                        <td><input type="text" id="RequestNumber" name="RequestNumber" asp-for="RequestNumber" tabindex="17" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Hauler</td>
                        <td><input type="text" id="Hauler" name="Hauler" asp-for="Hauler" tabindex="18" style="max-width: 70rem; align-content:baseline" value="" readonly="readonly"></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input type="text" id="Description" name="Description" asp-for="Description" tabindex="19"></td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td><input type="text" id="Weight" name="Weight" asp-for="Weight" tabindex="20"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>