﻿@model PagedList.IPagedList<MSO.Models.Waste>
@using PagedList.Mvc;
@{ ViewData["Title"] = "Index"; }

<h1>Waste</h1>
<script type="text/javascript">
    function DownloadReport(val) {
        var xmlhttp = new XMLHttpRequest();
        var values = val.split(" ");
        xmlhttp.open("POST", "/waste/DownloadReport?StartDate=" + values[0] + "EndDate=" + values[1],
            false);
        xmlhttp.setRequestHeader('Content-Type',
            'application/x-www-form-urlencoded');

        xmlhttp.send(null);
        alert("File (wastemso.csv) downloaded to your downloads folder.");
    }
    function getXMLObject() // XML OBJECT
    {
        var xmlHttp = false;
        try {
            xmlHttp = new ActiveXObject("Msxml2.XMLHTTP"); // For Old Microsoft
            // Browsers
        } catch (e) {
            try {
                xmlHttp = new ActiveXObject("Microsoft.XMLHTTP"); // For Microsoft
                // IE 6.0+
            } catch (e2) {
                xmlHttp = false; // No Browser accepts the XMLHTTP Object then
                // false
            }
        }
        if (!xmlHttp && typeof XMLHttpRequest != 'undefined') {
            xmlHttp = new XMLHttpRequest(); // For Mozilla, Opera Browsers
        }
        return xmlHttp; // Mandatory Statement returning the ajax object created
    }
</script>
<form asp-controller="Waste" asp-action="waste" method="post">

    @{
        if (Model == null)
        {
            DateTime dt = DateTime.Now;
            <span>@Html.Label("From Date")</span>
            @Html.Label("To Date")
            <br />
            @Html.TextBox("startDate", String.Format("{0:d}", dt.ToShortDateString()), new { @class = "datefield", type = "date", required = "required" })
            <span></span>
            @Html.TextBox("endDate", String.Format("{0:d}", dt.ToShortDateString()), new { @class = "datefield", type = "date", required = "required" })

            <br />
            <br />

            <input type="submit" name="Waste" value="View">
            <input type="button" name="Download" value="Download" onclick="DownloadReport(document.getElementById('startDate').value + '&nbsp;' + document.getElementById('endDate').value)" />
        }
        else
        {
            <input type="button" name="Download" value="Download" onclick="DownloadReport(document.getElementById('startDate').value+ '&nbsp;' + document.getElementById('endDate').value)" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().RequestNumber)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>

                            <td>

                                @Html.ActionLink("Edit | ", "Edit", new { id = item.RequestNumber })
                                @Html.ActionLink("Details | ", "Details", new { id = item.RequestNumber })
                                @Html.ActionLink("Delete", "Delete", new { id = item.RequestNumber })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <ul class="pagination pagination-sm">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="@(i == Model.PageNumber ? "page-item active" : "page-item")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
            </ul>

        }

    }
</form>