﻿@model PagedList.IPagedList<MSO.Models.Waste>
@using PagedList.Mvc;

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Request Number")
            </th>

            <th>
                 @Html.DisplayName("Date")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>

                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.RequestNumber })
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pagination pagination-sm">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <li class="@(i == Model.PageNumber ? "page-item active" : "page-item")">
            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
        </li>
    }
</ul>